body{
  font-family: Verdana;
}
#title{
  background-color: #ff4c68;
  color:#fff;
}
h1{
  text-align: center;
  font-family:cursive;
  font-size: 3.5rem;
  line-height: 1.2;
}
p{
  text-align: right;
}
/**********************navigation bar***********************/
.navbar{
  padding:0 0 3rem 0;
}

.navbar-brand{
  font-family:monospace;
  font-size: 1.6em;

}
.nav-link{
  font-size: 1.2rem;
  font-family: serif;
}
/*.container-fluid{
  padding:3% 15%;
}
*/
.btn-btn{
margin: 5% 3% 5% 0;
}
